[tool.ruff]
target-version = "py310"
line-length = 100
extend-exclude = ["build", "install", "log"]

[tool.ruff.lint]
select = ["E", "F", "I", "UP"]
ignore = ["E501"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
